@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.background-header {
    background-color: #264653;
}

.button-background {
    background-color: #E76F51;
}

.text-color {
    color: #E76F51;
}

.fontsize {
    font-size: 48px;
    font-weight: 600;
}

.grayscale {
    filter: grayscale(100%);
}

/* ========== Happy client ========== */
.client-name {
    font-size: 14px;
    font-weight: 600;
    color: #23A6F0;
}

.client-designation {
    font-size: 14px;
    font-weight: 600;
}

.clientimg {
    border-radius: 50%;
    height: 150px;
}

.subscribebg {
    background-color: mistyrose;
}

.footer-background {
    background-color: #0B0D17;
}

.team-name {
    font-size: 16px;
    font-weight: 600;
}

.team-designation {
    font-size: 14px;
    font-weight: 600;
    color: #E76F51;
    font-style: italic;
}

.icon-color {
    color: #E76F51;
}

.ul-decoration {
    list-style: none;
}