@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* ========= Common =========== */
body {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.button-background {
    background-color: #E76F51;
}

/* ========= Header area ======== */
.background-header {
    background-color: #264653;
}

/* ========= Fetured Bikes =========== */
.text-color {
    color: #E76F51;
}

.fontsize {
    font-size: 48px;
    font-weight: 600;
}

.horizontal-line {
    width: 6%;
    height: 5px;
    color: #E76F51;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6px;
}

.grayscale {
    filter: grayscale(100%);
}

/* ========== Happy client ========== */
.client-name {
    font-size: 14px;
    font-weight: 600;
    color: #23A6F0;
}

.client-designation {
    font-size: 14px;
    font-weight: 600;
}

.icon-color {
    color: #E76F51;
}


/* ====== Freequently asked ========== */
.accordion-font {
    font-size: 20px;
    font-weight: 500;
    color: #383838;
}

/* ========= Subscribe ========== */
.subscribebg {
    background-color: mistyrose;
}

/* ======== Team ========== */
.team-name {
    font-size: 16px;
    font-weight: 600;
}

.team-designation {
    font-size: 14px;
    font-weight: 600;
    color: #E76F51;
    font-style: italic;
}

/* ========= Footer ============ */
.footer-background {
    background-color: #0B0D17;
}